<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="language" content="EN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dum Dev Blog — {{title}}</title>
    <meta name="description" content="The blog for the Dum prgramming languages." />
    <meta name="author" content="Abhinav Sarkar" />
    <meta name="copyright" content="Abhinav Sarkar 2026" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="me" href="https://abhinavsarkar.net/about/" type="text/html">
    <link rel="author" href="https://abhinavsarkar.net/about/" type="text/html">
  </head>
  <body>
    <header>
      <nav>
        <a href="/" style="font-weight: bold">Dum Dev Blog</a>
        <a href="/archive/">Archive</a>
      </nav>
    </header>
    <main>
      <h1>{{title}}</h1>
      {{{content}}}
    </main>
    <footer>
      Built with <a href="https://shakebuild.com">Shake</a> and
      <a href="https://haskell.org">Haskell</a>
    </footer>
  </body>
</html>
